table.plottab {
    width: 100%;
    margin-top: 20px;
}
.plottab tbody tr:nth-child(even) {
    background-color : #FFe000;
}
.plottab tbody tr:nth-child(odd) {
    background-color : #FFc000;
}
.plottab tbody tr:hover {
    background-color : #FF4000
}    
.plottab thead tr {
    background-color : #80c040;
}
