h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 13px;
}

div.aframe {
    display: none;
}

.fullwidth {
    width: 90%;
}

div.plotdiv {
    display: inline-block;
    
}

table.plottab {
    table-layout: fixed;
    width:100%;
}

table.plottab td {
    word-wrap: break-word;
}

th.plotcolum {
    width: 300px;
}

th.qsfpcolum {
    width: 80px;
}

img.prbsplot {
    width: 300px;
}

div.header {
    position: fixed;
    top: 0;
    margin: auto;
    padding: 8px 0;
    background: #fff0a0;
    border: 1px solid;
    width: 98%;
    padding: 3px;
}
	
input#globalRuler {
    width: 500px;
    position: absolute;
    right: 10px;
}

div#doc {
    display: inline;
    text-align: center;    
}

span#docspan {
    text-decoration: underline;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
    cursor: help;
    background-color: #f0c000;
}

div#documentation {
    position:fixed;
    overflow-y: scroll;
    top: 50px;
    bottom: 50px;
    display:None;
    left: 50%;
    width: 80%;
    max-width: 1000px;
    transform: translateX(-50%);
    padding: 40px;
    background-color: #fff0c0;
    border-radius: 25px;
    border: 4px solid gray;
}

div#documentation h2 {
    font-size: 22px;
}
